<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="集群管理"
            icon="icons/DBNavigation_blue.png"
            class="com.kingbase.db.deploy.bundle.views.DeployView"
            id="com.kingbase.db.tools.application.view.DeployView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="true"
               id="com.kingbase.db.tools.application.view.DeployView"
               minimized="true"
               moveable="true"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.kingbase.db.deploy.bundle.editor.CreateNodeEditor"
            default="false"
            icon="icons/folder.png"
            id="com.kingbase.db.replication.application.editor.CreateNodeEditor"
            name="新建节点">
      </editor>
      <editor
            class="com.kingbase.db.deploy.bundle.editor.CreateMasterstandEditor"
            default="false"
            icon="icons/folder.png"
            id="com.kingbase.db.deploy.bundle.editor.CreateMasterstandEditor"
            name="新建主备同步">
      </editor>
      <editor
            class="com.kingbase.db.deploy.bundle.editor.ReadWriteEditor"
            default="false"
            icon="icons/folder.png"
            id="com.kingbase.db.deploy.bundle.editor.ReadWriteEditor"
            name="读写分离">
      </editor>
      <editor
            class="com.kingbase.db.deploy.bundle.graphical.editor.CreateReadWriteStatusEditor"
            contributorClass="com.kingbase.db.deploy.bundle.graphical.editor.FlowEditorContributor"
            default="false"
            icon="icons/schema.png"
            id="com.kingbase.db.deploy.bundle.graphical.editor.CreateReadWriteStatusEditor"
            name="读写分离监控">
      </editor>
      <editor
            class="com.kingbase.db.deploy.bundle.graphical.editor.CreateMasterStatusEditor"
            default="false"
            icon="icons/schema.png"
            id="com.kingbase.db.deploy.bundle.graphical.editor.CreateMasterStatusEditor"
            name="主备同步监控">
      </editor>
   </extension>

</plugin>
