<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="逻辑同步"
            icon="icons/DBNavigation_blue.png"
            class="com.kingbase.db.replication.bundle.views.ReplicationView"
            id="com.kingbase.db.replication.application.view.ReplicationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="true"
               id="com.kingbase.db.replication.application.view.ReplicationView"
               minimized="true"
               moveable="true"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.kingbase.db.replication.bundle.graphical.editor.CreateSubscribeStatusEditor"
            contributorClass="com.kingbase.db.replication.bundle.graphical.editor.FlowEditorContributor"
            default="false"
            icon="icons/sessions.png"
            id="com.kingbase.db.replication.application.editor.CreateSubscribeStatusEditor"
            name="单订阅状态图">
      </editor>
      <editor
            class="com.kingbase.db.replication.bundle.graphical.editor.AllSubscribeStatusEditor"
            contributorClass="com.kingbase.db.replication.bundle.graphical.editor.FlowEditorContributor"
            default="false"
            icon="icons/sessions.png"
            id="com.kingbase.db.replication.application.editor.AllSubscribeStatusEditor"
            name="全订阅状态图">
      </editor>
      <editor
            class="com.kingbase.db.replication.bundle.dialog.CreateSourceConnectionEditor"
            default="false"
            icon="icons/server_connect.png"
            id="com.kingbase.db.replication.bundle.dialog.CreateSourceConnectionEditor"
            name="服务器连接">
      </editor>
      <editor
            class="com.kingbase.db.replication.bundle.dialog.CreateReleaseEditor"
            default="false"
            icon="icons/release_16.png"
            id="com.kingbase.db.replication.bundle.dialog.CreateReleaseEditor"
            name="创建发布">
      </editor>
      <editor
            class="com.kingbase.db.replication.bundle.dialog.CreateSubscribeEditor"
            default="false"
            icon="icons/subscribe_enable_16.png"
            id="com.kingbase.db.replication.bundle.dialog.CreateSubscribeEditor"
            name="创建订阅">
      </editor>
   </extension>

</plugin>
