<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="控制台"
            icon="icons/DBNavigation_blue.png"
            class="com.kingbase.db.console.bundle.views.ConsoleView"
            id="com.kingbase.db.console.bundle.views.ConsoleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="true"
               id="com.kingbase.db.console.bundle.views.ConsoleView"
               minimized="false"
               moveable="true"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.kingbase.db.console.bundle.editor.CreateBackupSetEditor"
            default="false"
            icon="icons/edit.png"
            id="com.kingbase.db.console.bundle.editor.CreateBackupSetEditor"
            name="新建备份集">
      </editor>
      <editor
            class="com.kingbase.db.console.bundle.editor.CheckBackupSetEditor"
            default="false"
            icon="icons/table.png"
            id="com.kingbase.db.console.bundle.editor.CheckBackupSetEditor"
            name="查看备份集">
      </editor>
      <editor
            class="com.kingbase.db.console.bundle.editor.IoTuningEditor"
            default="false"
            icon="icons/info.png"
            id="com.kingbase.db.console.bundle.editor.IoTuningEditor"
            name="性能调优">
      </editor>
      <editor
            class="com.kingbase.db.console.bundle.editor.ServiceManagerEditor"
            default="false"
            icon="icons/table.png"
            id="com.kingbase.db.console.bundle.editor.ServiceManagerEditor"
            name="服务管理">
      </editor>
      <editor
            class="com.kingbase.db.console.bundle.editor.ServerAnalysisEditor"
            default="false"
            icon="icons/DBNavigation_blue.png"
            id="com.kingbase.db.console.bundle.editor.ServerAnalysisEditor"
            name="服务器信息">
      </editor>
      <editor
            class="com.kingbase.db.console.bundle.editor.CreateLogAnalysisEditor"
            default="false"
            icon="icons/file.png"
            id="com.kingbase.db.console.bundle.editor.CreateLogAnalysisEditor"
            name="新建日志分析">
      </editor>
      <editor
            class="com.kingbase.db.console.bundle.editor.BrowserEditor"
            default="false"
            icon="icons/file.png"
            id="com.kingbase.db.console.bundle.editor.BrowserEditor"
            name="日志分析">
      </editor>
   </extension>

</plugin>
