<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="控制台"
            icon="icons/DBNavigation_blue.png"
            class="com.kingbase.db.console.bundle.views.ConsoleView"
            id="com.kingbase.db.console.bundle.views.ConsoleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="true"
               id="com.kingbase.db.console.bundle.views.ConsoleView"
               minimized="false"
               moveable="true"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.kingbase.db.console.bundle.newEditor.InstanceInstallEditor"
            default="false"
            icon="icons/edit.png"
            id="com.kingbase.db.console.bundle.newEditor.InstanceInstallEditor"
            name="实例加载">
      </editor>
      <editor
            class="com.kingbase.db.console.bundle.newEditor.ServiceStatusEditor"
            default="false"
            icon="icons/association.png"
            id="com.kingbase.db.console.bundle.newEditor.ServiceStatusEditor"
            name="服务状态">
      </editor>
      <editor
            class="com.kingbase.db.console.bundle.newEditor.InstanceUninstallEditor"
            default="false"
            id="com.kingbase.db.console.bundle.newEditor.InstanceUninstallEditor"
            name="实例卸载"
            icon="icons/error_blue1.png">
      </editor>
      <editor
            class="com.kingbase.db.console.bundle.newEditor.ServerInfoEditor"
            default="false"
            icon="icons/Copy.png"
            id="com.kingbase.db.console.bundle.newEditor.ServerInfoEditor"
            name="服务器信息">
      </editor>
      <editor
            class="com.kingbase.db.console.bundle.newEditor.ImportDatainfoEditor"
            default="false"
            icon="icons/error_blue1.png"
            id="com.kingbase.db.console.bundle.newEditor.ImportDatainfoEditor"
            name="导入数据">
      </editor>
      <editor
            class="com.kingbase.db.console.bundle.newEditor.ExportDatainfoEditor"
            default="false"
            icon="icons/Copy.png"
            id="com.kingbase.db.console.bundle.newEditor.ExportDatainfoEditor"
            name="导出数据">
      </editor>
   </extension>

</plugin>
